<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.allsmart.restbase.repository.SampleMapper">
    <select id="selectById" resultType="jp.co.allsmart.restbase.entity.SampleEntity">
        SELECT sample_id,sample_data FROM sample WHERE sample_id = #{id}
    </select>
    <insert id="regist" parameterType="jp.co.allsmart.restbase.entity.SampleEntity">
        INSERT INTO sample (sample_id, sample_data) VALUES (#{sampleId}, #{sampleData})
    </insert>
</mapper>